/* Containers */

.logo-image {
  max-height: 40px; 
  width: 80px;
  object-fit: contain;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto; 
}

.container-fluid {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0;
}

.big-card {
  border-radius: 4px;
  height: 100%;
  padding: 15px;
  box-shadow: 3px 3px 10px grey;
  display: flex;
  justify-content: space-between;
  color: white;
  flex-direction: row;
  padding: 10px;
  margin:  10px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  align-content: stretch;
  background-color: white;
  overflow: auto;
}

.container-pdf {
  display: flex;
  flex: 3;
  padding: 15px;
  padding-left: 0px;
  justify-content: center;
}

.container-col {
  display: flex;
  flex: 1;
  color: white;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}

.container-row {
  display: flex;
  justify-content: space-between;
  color: white;
  flex-direction: row; 
  margin:  10px;
  align-items: center;
  justify-content: space-around;
}

/* Main Building Blocks */

img {
  width: 250px;
  height: 250px;
  object-fit: contain;
 }

iframe {
  max-height: 1000px;
  min-height: 250px;
}

main {
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin: 0;
  align-content: center;
}

body {
    font-family: Avenir, Helvetica, sans-serif;
    color: white;
    background-color: #278DF2;
    width: 100%;
    height: 100%;
    margin: 0;
}

section {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 40;
}


/* Text */

h1 {
  font-family: Avenir Light, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  align-self: center;
  flex-grow: 1;
}

h2 {
	font-family: Avenir, Helvetica, sans-serif;
	font-size: 20px;
	color: gray;
	padding: 10px;
	padding-left: 0px;
}

h3 {
	font-family: Avenir Light, Helvetica, sans-serif;
	font-size: 15px;
	color: gray;
}

.keyword-p {
    margin: 6px;
    padding: 5px;
    background-color: darkgray;
    border-radius: 3px;
    color: white;
    display: flex;
    flex: 0 0 auto;
	cursor: default;
}

/* Confirm and Edit Buttons */
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  text-decoration: none;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

.btn-secondary {
  color: #fff;
  font-size: 10px;
  background-color: darkgray;
  border: none;
  padding: 5px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 3px;
}

@media only screen and (max-width: 600px) {
  .big-card {
    flex-direction: column;
  } 
  img {
    width: 150px;
    height: 150px;
  }
  .container-col {
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
}




/* Nav Bar Items */


.logo {
    color: white;
    font-family: Avenir Black, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 40px;
    padding: 5px;
}

.bigtext {
    color: white;
    font-family: Avenir Black, Helvetica, sans-serif;
    font-size: 35px;
    padding: 2px;
}

.businessowner {
    color: white;
    font-family: Avenir, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 20px;
}

/* Bootstrap Overrides */ 

.nav-item {
    padding: 10px;
}

.button-entry {
    background-color: #278DF2;
    border-radius: 10px;
    color: white;
    font-family: Avenir, Helvetica, sans-serif;
    width: 50%;
    display: flex;
    justify-content: center;
    border: none;
	margin: 3px;
}

/* Divs */ 

.holder {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.rightinfo {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Avenir, Helvetica, sans-serif; 
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex: 4;
    padding: 15px;
    margin: 30px;
}

.entry {
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    padding: 3px;
    padding-left: 5px;
    display: flex; 
    width: 100%;
    margin-bottom: 8px;
}

/* Cards */ 

.card-holder {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.28), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-color: white;
    background-color: white;
    border-radius: 4px;
    display: flex;
    color: black;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 4;
}
.h2{
    text-align: center;
}

.card-body a:hover {
    color: red;
    text-decoration: none;
}

.card-title {
    color: gray;
}

.btn-secondary {
    color: #fff;
    font-size: 10px;
    background-color: darkgray;
    border: none;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

keyword {
    color: white;
    background-color: darkgray;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 13px;
    padding: 2px;
    margin: 5px; 
    justify-content: center;
    align-item: center;
    border-radius: 3px;
 
}

/* Main Building Blocks */

form {
    width: 100%;
}

main {
    background-color: white;
    color: black;
    padding: 15px;
    justify-content: center;
}

h1 {
    font-family: Avenir Light, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    align-self: center;
}

body {
    font-family: Avenir, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #278DF2;
  }


section {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 40;
  }

header {
    display: flex;
    padding: 10px;
    background-color: #278DF2;
    justify-content: space-between;
    flex: 1;
    align-items: center;
  }

footer {
    display: flex;
    font-size: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/* Autocomplete */

.autocomplete { 
  position: relative;
  flex-direction: row;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  color: black;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: black;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
  color: black;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: lightgray !important;
  color: black;
}

/* Interaction */

a:hover {
  text-decoration: none;
  background-color: transparent;
}

.h5:hover{
    color: red;
}

/* Mobile Friendly */

@media only screen and (max-width: 600px) {

.holder {
     flex-direction: column-reverse;
}
}

