/* Nav Bar Items */

.logo {
  color: white;
  font-family: Avenir Black, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 40px;
  padding: 5px;
}

.businessowner {
  color: white;
  font-family: Avenir, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
}

.nav-item {
  padding: 10px;
}

.logo-image {
  max-height: 40px;
  width: 80px;
  object-fit: contain;
}

/* Containers */

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto; 
}

/* Buttons */

button {
    border: none;
    border-color: white;
    color: gray;
    background-color: white;
}

.goButton {
   background-color: darkgray;
   color: white;
   font-family: Avenir, Helvetica, sans-serif;
   border-radius: 0px;
   border: none;
   height: calc(1.5em + .75rem + 2px);
}

.btn-primary {
    color: white;
    background-color: darkgray;
    border: none;
    margin: 4px;
	border-radius: 3px;
	padding: 3px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: white;
  border-color: darkgray;
  color: darkgray;
}

.btn-secondary {
  color: #fff;
  font-size: 10px;
  background-color: darkgray;
  border: none;
  padding: 5px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 0px;
  border-radius: 3px;
  flex: 0 0 auto;
  display: flex;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-primary {
  background-color: darkgray;
  border-color: darkgray;
}

/* Cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    border-color: white;
    text-align: center;
    align-items: center;
}

.card-body a:hover {
    color: red;
    text-decoration: none;
}

.card-body {
   width: inherit;
}

.card-title {
    color: gray;
}

/* Search bar */

.filter-bar {
   display: flex;
   margin-left: 15%;
   margin-right: 15%; 
   color: black;
   background-color: white;
   flex-direction: row;
   margin: 3px;
   margin-bottom: 15px;
   align-items: center;
   justify-content: center; 
}

.bar-item {
    font-family: Avenir Black, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin: 0px; 
}

.search-item {
    font-family: Avenir Black, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
    margin: 0px;
    margin-left: 15%;
}

/* Main Building Blocks */

main {
    background-color: white;
    color: black;
    padding: 15px;
    justify-content: center;
}

h1 {
    font-family: Avenir Light, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    align-self: center;
}

body {
    font-family: Avenir, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #278DF2;
  }

section {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 40;
  }

img {
    width: 95%; 
    height: 20vw;
    object-fit: scale-down;
}

header {
    display: flex;
    padding: 10px;
    background-color: #278DF2;
    justify-content: space-between;
    flex: 1;
    align-items: center;
  }

footer {
    display: flex;
    font-size: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/* Autocomplete */

.autocomplete { 
  position: relative;
  flex-direction: row;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  color: black;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: black;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
  color: black;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: lightgray !important;
  color: black;
}


/* Interaction */

a:hover {
  text-decoration: none;
  background-color: transparent;
}

.h5:hover{
  color: red;
}

/* Mobile Friendly */ 

@media only screen and (max-width: 600px) {
  .card-title {
    font-size: 15px;
    padding: 3px;
    margin: 0px;
  }

  .card-body {
    padding: 5px;
    width: inherit;
  }

  img { 
    object-fit:scale-down;
    height: 90%;
    max-height: 170px;
    max-width: 40vw;
  }

  .container-col {
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

.btn-secondary {
    color: #fff;
    font-size: 10px;
    background-color: darkgray;
    border: none;
    padding: 2px;
    margin: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.filter-bar {
    flex-direction: column;
}

.card-picture {
    width: 200px;
    height: auto;
}

}
