/* Nav Bar */

.logo {
    color: white;
    font-family: Avenir Black, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 40px;
}

.businessowner {
    color: white;
    font-family: Avenir, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 20px;
    white-space:nowrap;
    opacity: 0.5;
}

.logo-image {
  max-height: 60px; 
  width: 100px;
  object-fit: contain; 
}

/* Search Bar */

.cityInput {
    background-color: white;
    height: 40px;
    width: 15%;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-family: Helvetica, Helvetica, sans-serif;
}

.button {
    background-color: white; /* Green */
    border: none;
    color: gray;
    padding: 5px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }

/* Main Building Blocks */

h1 {
    font-family: Avenir Light, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    align-self: center;
}

body {
    font-family: Avenir, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #278DF2;
    padding: 5px;
  }

section {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 40;
    background-image: url('/static/images/cityCropped-01.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
	object-fit: contain;
  }

header {
    display: flex;
    padding: 10px;
    background-color: #278DF2;
    justify-content: space-between;
    flex: 1;
    align-items: center;
  }

footer {
    display: flex;
    font-size: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

input {
  background-color: white;
  height: 40px;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 15px;
}

input[type=text] {
  width: 100%;
}

input[type=submit] {
  background-color: gray;
  color: #fff;
}

/* Autocomplete */

.autocomplete {
  width: 300px;
  position: relative;
  display: inline-block;
  flex-direction: row;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  color: black;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  color: black;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
  color: black;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: lightgray !important; 
  color: black;
}

/* Mobile Friendly */

@media only screen and (max-width: 600px) {

.autocomplete {
   width: 70%;
}

form { 
  algin-items: center; 
}

section { 
    flex: 40;
    background-position: center bottom;
    background-size: 100% auto;
  }

.businessowner { 
    font-size: 15px;
  
  }

.logo-image {
    max-height: 60px; 
    width: 60px;
    object-fit: contain; 
}

}
