/* Nav Bar */

.logo {
    color: white;
    font-family: Avenir Black, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 40px;
    padding: 5px;
}

.businessowner {
    color: white;
    font-family: Avenir, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 20px;
}

.nav-item {
    padding: 10px;
}

/* Main Body, Containers */

.container-exit {
  color: darkgray;
  width: 10px;
}

.container-fluid {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0;
}

.big-card {
  border-radius: 4px;
  height: 100%;
  padding: 15px;
  box-shadow: 3px 3px 10px grey;
  display: flex;
  justify-content: space-between;
  color: white;
  flex-direction: row;
  padding: 10px;
  padding-top: 5px;
  margin:  10px;
  width: 100%;
  height: 100%;
  /* flex-grow: 1; */
  align-content: stretch;
  background-color: white;
  overflow: auto;
}

.container-pdf {
  display: flex;
  flex: 3;
  padding: 15px;
  padding-left: 0px;
  justify-content: center;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  min-height: min-content;
}

.container-col {
  display: flex;
  flex: 1;
  color: white;
  padding: 15px;
  flex-direction: column;
  min-height: min-content;
  align-items: center;
}

.container-row {
  display: flex;
  justify-content: space-between;
  color: white;
  flex-direction: row;
  padding: 10px;
  margin:  10px;
}

/* Main Building Blocks */

img {
  width: 250px;
  height: 250px;
 }

iframe {
  max-height: 1000px;
  min-height: 250px;
}

main {
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin: 0;
  align-content: center;
}

body {
    font-family: Avenir, Helvetica, sans-serif;
    color: white;
    background-color: #278DF2;
    width: 100%;
    height: 100%;
    margin: 0;
}

section {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 40;
}

header {
    display: flex;
    padding: 10px;
    background-color: #278DF2;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

footer {
    display: flex;
    font-size: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
}

/* Text */

h1 {
  font-family: Avenir Light, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  align-self: center;
  flex-grow: 1;
}

h2 {
font-family: Avenir, Helvetica, sans-serif;
font-size: 20px;
color: gray;
padding: 10px;
padding-left: 0px;
}

h3 {
font-family: Avenir Light, Helvetica, sans-serif;
font-size: 15px;
color: gray;
}

/* Confirm and Edit Buttons */
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  text-decoration: none;
  width: 100%;
}

.btn-secondary {
  color: #fff;
  font-size: 10px;
  background-color: darkgray;
  border: none;
  padding: 5px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 3px;
  flex: 0 0 auto;
}

.logo-image{
 object-fit: contain;
 max-height: 40px;
 width: 80px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  .big-card {
    flex-direction: column;
  } 
  img {
    width: 150px;
    height: 150px;
  }
  .container-col {
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .container-pdf {
    height: 600px;
  }

}
