<!doctype html>


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Hey! We're Open | Administrator </title>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href=" {{ url_for('static', filename='styles/business_owner.css') }}">

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  margin: 20px;
}


p {
   margin: 10px 10px 0px; 0px;;
   color: black;
}
div.title {
   font-size: 40px;
   color: black;
   text-align: center;
}

div.buttons {
   display: flex;
   justify-content: space-evenly;
}
img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 10px 16px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}
a {
  color: white;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 30%;
}

.confirm {
 background-color: Green;
}

.delete {
  background-color: Red
}

</style>
    </head>

<body>
	{% if data|length == 0 %}
	<h1> No new Businesses to confirm! </h1>
	<a href= "{{ url_for('hitchhike.routes.home') }}"> Go Home </a>
	{% else %}
 	{% for item in data %}
	{% if item %}
	 <div class="card" style="justify-content: center">
	<div class= "title" >{{ item.name }}</div>
	<img src="{{ '/'.join([space_location, 'logos', item.logo]) }}"/>
	<p>website:  {{ item.website }} </p>
	<p>address:  {{ item.address }} </p>
	<p>city:     {{ item.city }} </p>
	<p>state:    {{ item.state }} </p>
	<p>country:  {{ item.country }} </p>
	<p>phone:    {{ item.phone_number }} </p>
	<p>email:    {{ item.email }} </p>
	<p>keywords: {{ item.keywords }} </p>

         <div class="container-pdf">
		 <iframe src="{{ '/'.join([space_location_pdf, 'pdfs', item.pdf])  }}" width="80%" height="100%"></iframe>
         </div>
	 <form action= "{{ url_for('hitchhike.routes.admin_page') }}" method = "POST">
	 <input type= "hidden" id= "biz_id" name= "biz_id" value= "{{ item.id }}">
	 <div class= "buttons">
	 <input type="submit" name="submit_button" value="Confirm" class= "button confirm">
	 <input type="submit" name="submit_button" value="Delete" class= "button delete">
	 </div>
	 </form>
   </div>
   {% endif %}
   {% endfor %}
   </div>
   {% endif %}
</body>
</html>
