<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Hey! We're Open | Business Owner </title>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href=" {{ url_for('static', filename='styles/business_owner.css') }}">

    </head>

    <script>

         function create() {

                var text  = document.getElementById("keywords").value;
                var word  = document.createElement('keyword');
                if (text != '') {
                        word.setAttribute("id", text);
                        document.getElementById("keywords").value = '';
                        word.textContent = 'x ' + text;
                        word.onclick = function() {
                                var element = document.getElementById(text);
                                element.parentNode.removeChild(element);
                        };
                        document.getElementById("keywordList").appendChild(word);
                }

         }

    </script>


    <body>

    	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #278DF2;">
    		<a class="navbar-brand" href="/">  <img class="logo-image" src="{{ url_for('static', filename='images/Logo-02.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
             </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            	<ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/business_owner">I'm a Business Owner</a>
                    </li>
                </ul>
            </div>
        </nav>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
        		{% if message %}
    				<div class = "container-row">
						<div class= "bigtext">{{ message }}</div>
					
        		{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}

    {% if uploaded %} 
		We have successfully received your business information! It will be processed by our team and a business page will be added to our site soon. 
	{% endif %}	
	</div>
    {% if data %}
    <div class = "container-row">
    		<div class= "bigtext"> Here's what we got: </div> 
    </div>

    <div class = "container-row">
      <a href="/business_owner"><button class= "button">Edit Information</button></a>
      <a href="/confirm_business"><button class = "button">Confirm Information</button></a>
    </div>
        <main>
            <div class="container-fluid">
                <div class="big-card">
                  <div class="container-col">
			  <img src="{{ '/'.join([space_location, 'logos', data['logo']]) }}">
		      <h2> {{ data["name"] }} </h2>
		      <h3> {{ data["phone number"] }} </h3>
		      <h3> {{ data["address"] }}, </h3>
		      <h3> {{ data["city"] }}, {{ data["state"] }} {{ data["country"] }} </h3>
		      <a href = {{ 'http://' + data["website"] }}> <h3> {{ data["website"] }} </h3> </a>
		      <h3> {{ data["keywords"] }} </h3>
                  </div>
                  <div class="container-pdf">
			  <iframe src="{{ '/'.join([space_location_pdf, 'pdfs', data["pdf"]]) }}" width="80%" height="100%">
                  </div>
              </div>
            </div>
        </main>
	

    {% endif %}
	<div class ="holder">
	    <div class ="card-holder">

		<form action = " {{ url_for(".verify_business") }}" enctype= multipart/form-data method = "POST" onkeydown="return event.key != 'Enter';">
	       <input type = "text" name = "name" placeholder = "Business Name" {% if defaults %} value="{{defaults['name']}}"  {% endif %} class = "entry" />
               	<input type = "text" name = "website" placeholder = "Website" {% if defaults %} value="{{defaults['website']}}"  {% endif %} class = "entry"/>
               	<input type = "text" name = "phone_number" placeholder = "Phone Number" {% if defaults %} value="{{defaults['phone_number']}}"  {% endif %} class = "entry"/></p>
               	<input type = "text" name = "email" placeholder = "Email where we can contact you" {% if defaults %} value="{{defaults['email']}}"  {% endif %} class = "entry"/></p>	 	     
               	<input type = "text" name = "address" placeholder = "Address" {% if defaults %} value="{{defaults['address']}}"  {% endif %} class = "entry"/></p>
			   	<div class="autocomplete" style = "align-items: center;" >
			   		<input autocomplete = "off" id = "country" type = "text" name = "country" placeholder = "Country" onclick = "clearState()" {% if defaults %} value="{{defaults['country']}}"  {% endif %} class = "entry"/></p>
			   		<script type="text/javascript" src="suggestive_country.js"></script>	 	
				</div> 
				<div class="autocomplete" style = "align-items: center;" >
               		<input autocomplete = "off" id = "state" type = "text" name = "state" placeholder = "State" onclick = "selected()" {% if defaults %} value="{{defaults['state']}}"  {% endif %} class = "entry"/></p>
					<script type="text/javascript" src="suggestive_state.js"></script>
				</div>
				<div class = "autocomplete"  style= "align-items: center;" >
               	<input autocomplete= "off" id= "city" type = "text" name = "city" placeholder = "City" onclick= "stateSelected()"  {% if defaults %} value="{{defaults['city']}}"  {% endif %} class = "entry"/></p>

					<script type="text/javascript" src="suggestive_city.js"></script>
					</div>
		       <p> Please enter key words that describe your business/products and add them using the "Add" button. Example: Italian, pasta, pizza. </p>
    	       <div class="autocomplete" name = "keywordDiv" >
        	        <input id = "search" type = "text"  placeholder = "Keywords" class = "entry" />
					<input id = "keywords", name= "keywords" type = "hidden", value= ''>

            <script type="text/javascript" src="keyword_suggestions.js"></script>
           		</div>
        
		<script>
		function deleteKeyword (text) {
			var currentList = document.getElementById("keywords").value;
			currentList = currentList.replace(text, '');
			if (currentList.charAt(0) == ','){ currentList = currentList.slice(1); }
			else if(currentList.charAt(currentList.length-1) == ',')  { currentList =currentList.slice(0, currentList.length-1); }
			else {currentList = currentList.replace(',,', ','); }
			document.getElementById("keywords").value = currentList;
		}

      		function create() {

		var text  = document.getElementById("search").value;		// whatever was input into keywords field
		var word  = document.createElement("P");			// create a <p>
        word.setAttribute("class", "keyword-p");
		if (text != '') {
			word.setAttribute("id", text);
			document.getElementById("search").value = '';
        		word.textContent = ' x ' + text;
			word.onclick = function() {
				var element = document.getElementById(text);
				element.parentNode.removeChild(element);       
				deleteKeyword(text);
			};
        		document.getElementById("keywordList").appendChild(word);
			var currentList = document.getElementById("keywords").value;
			if (currentList == ''){
				currentList = text;
			} else{
				currentList = currentList + ',' + text;
			}
			document.getElementById("keywords").value = currentList;
		}

      		}
    	   </script>
	   <div id = "keywordList" class = "scrolling-wrapper-flexbox"></div> </p>
          {% if defaults %}
          There are defaults
          {% for keyword in defaults['keywords'] %}
          keyword: {{ keyword }}
           <script>
                var word = document.createElement("P");
                word.setAttribute("id", "{{ keyword }}");
				word.setAttribute("class", "keyword-p");
				console.log("they see me logging");
                word.textContent = ' x ' + "{{ keyword }}";
                word.onclick = function() {
                    var element = document.getElementById("{{ keyword }}");
                    element.parentNode.removeChild(element);
                    deleteKeyword("{{ keyword }}");
                };
                document.getElementById("keywordList").appendChild(word);
                var currentList = document.getElementById("keywords").value;
                if (currentList == '') {
                    currentList = "{{ keyword }}";
                } else {
                    currentList = currentList + ',' + "{{ keyword }}";
                }
                document.getElementById("keywords").value = currentList;
           </script>
          {% endfor %}
          {% endif %}
	<button type = "button" class = "button-entry" onclick="create()" > Add </button>
	       <p>PDF of Quarantine Specials: 	<input type = "file" name = "pdf" accept="application/pdf" class= "button" />
	       <p>High quality picture of your products:  			<input type = "file" name = "logo" accept="image/*" class = "button">
               <p><input type = "submit" value = "Submit" class = "button-entry" /></p>
            </form>
	    </div>
	    <div class="rightinfo">
		    <div class = "bigtext"> Join our site! </div>
			Please tell us about your business and upload a PDF that contains your menu or deals during this time. Stay safe and contact us if you have any questions!
	    </div>
        </div>
    </body>
    <footer>
       contact us at help@heywereopen.com
    </footer>

</html>
