<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> Hey! We're Open | {{ city }} </title>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/dc0da213eb.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href=" {{ url_for('static', filename='styles/city_businesses.css') }}">
    </head>

    <script>

	     function del(id, searched) {
		 console.log(id, searched);

		var button = document.getElementById(id);
		button.parentNode.removeChild(button);

		var index = searched.indexOf(id);

    		if (index > -1) {
		       searched.splice(index, 1);
		}


	     }

    </script>


    <body>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #278DF2;">
                <a class="navbar-brand" href="/">  <img class="logo-image" src="{{ url_for('static', filename='images/Logo-02.png') }}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/business_owner">I'm a Business Owner</a>
                    </li>
                    </ul>
                </div>
        </nav>

        <main>

		<div class="filter-bar">

			<a class="nav-link" href="/"> <h2 class="bar-item"> <i class="fas fa-map-marker-alt"></i> {{ city }} </h2> </a>
			<div style="width: 40%"> </div>
			<form class="form-inline" method= "POST">
                            <div class="input-group">
				<div class="keyword suggestions">
                                <input name="search" id= "search" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" autocomplete = "off"/>
	<script type="text/javascript" src="keyword_suggestions.js/{{ city }}" ></script>
				</div>
                                <div class="input-group-prepend">
                                </div>

					<input type= "submit" class = "goButton" value= "Go!" />
                            </div>
                         </form>

		</div>


		{% if searched %} <a href= "{{ city }}"> <h1 class="search-item"> </a>
            <form action="" method="POST">
                <input type="submit" class="btn-primary" value="Clear Search">
            </form>
			{% for item in searched %}	
            	{% if item %}
					<button id = "{{ item }}" onclick="window.location.href='{{url_for('hitchhike.routes.remove_search_term', city=city, remove_term=item)}}'"> <i class="fas fa-times"></i> {{ item }}  </button>
	            {% endif %}
			{% endfor %} 
			</h1> 
         {% endif %}

         <div class="row row-cols-2 row-cols-md-4" style="justify-content: center">
            {% for item in data %}
            {% if item %}
			<div class="col mb-4">
                          <div class="card w-100 h-100">
				  <a href= "{{ item.id }}" class="card-picture2">
			     <img src="{{ '/'.join([space_location, 'logos', item.logo]) }}" />
                            <div class="card-body">
				    <h5 class="card-title">{{ item.name }}</h5> </a>
				     <div class = "scrolling-wrapper-flexbox">
				     {% for keyword in item.keywords %}
                        {% if keyword %}
				     	<button type="button" class="btn-secondary">  {{ keyword }}  </button> 	
                        {% endif %}
				     {% endfor %}
				     </div>
                            </div>

                          </div>
                        </div>
            {% endif %} 
			{% endfor %}

                 </div>

        </main>

        <footer>
            contact us at help@heywereopen.com
        </footer>


    </body>

</html>
<script src="search_limiting.js"></script>
