<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Hey! We're Open </title>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing_page.css') }}" >
    </head>

    <body>
        <header>
        <img class="logo-image" src="{{ url_for('static', filename='images/Logo-02.png') }}" alt="">    
	    <a href= "/business_owner">
            <div class="businessowner">
                    I'm a Business Owner
            </div>
	    </a>
        </header>
        <section>
            <h1> Enter your city: </h1>

	    <form id="search" autocomplete="off" action="{{ url_for('.city_offerings') }}", method= "POST">
                <div class="autocomplete" style = "align-items: center;" >
                  <input id="city" type="text" name="city" placeholder="City or Town"\>
                </div>
		<input class = "btn-secondary" type = "submit" value = "Go!" />
              </form>
              <script type="text/javascript" src="suggestive_bar.js"></script>
        </section>
        <footer>
            contact us at help@heywereopen.com
        </footer>
    </body>
</html>
