<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> Hey! We're Open | {{ data.name }} </title>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/productpage.css') }}">
<script src="https://kit.fontawesome.com/dc0da213eb.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #278DF2;">

                <a class="navbar-brand" href="/">  <img class="logo-image" src="{{ url_for('static', filename='images/Logo-02.png') }}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/business_owner">I'm a Business Owner </a>
                    </li>
                    </ul>

		    <form class="form-inline my-2 my-lg-0" action="{{ url_for('.city_offerings') }}" method="POST">
                            <div class="input-group">
                                <input name="city" id="city" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Go</span>
                                </div>
                            </div>
                    </form>

                </div>
        </nav>

        <main>
            <div class="container-fluid">
                <div class="big-card">
					<div class="container-exit">
						<a href="/{{ city }}"> <h1 style="color: dimgray"> <i class="fas fa-times"></i> </h1> </a>
					</div>
                <div class="container-col">
			  		<img src=" {{ '/'.join([space_location, 'logos', data.logo]) }}">
		      		<h2> {{ data.name }} </h2>
		  		    <h3> {{ data.address }} </h3>
		  		    <h3> {{ data.phone_number }} </h3>
		 		    <a href = {{ 'http://' + data.website }}> <h3> {{ data.website }} </h3> </a>
		     		<div class="scrollable-wrapper-flexbox">
		      			{% for keyword in keywords %}
                            {% if keyword %}
		           			<button type="button" class="btn-secondary">  {{ keyword }}  </button>
                            {% endif %}
					    {% endfor %}
		      		</div>
                </div>
                <div class="container-pdf">
			  		<iframe src="{{ '/'.join([space_location_pdf, 'pdfs', data.pdf]) }}" width="80%" height="100%">
                </div>
              </div>
            </div>
        </main>

        <footer>
            contact us at help@heywereopen.com
        </footer>


    </body>

</html>
